<?xml version="1.0"?>
<config>
    <modules>
        <Ikom_WebsiteSwitcher>
            <version>0.1.1</version>
        </Ikom_WebsiteSwitcher>
    </modules>
    <frontend>
         <translate>
            <modules>
                <ikom_websiteswitcher>
                    <files>
                        <default>Ikom_WebsiteSwitcher.csv</default>
                    </files>
                </ikom_websiteswitcher>
            </modules>
        </translate>
        <layout>
            <updates>
                <ikom_websiteswitcher>
                    <file>ikom/websiteswitcher.xml</file>
                </ikom_websiteswitcher>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <ikom_websiteswitcher>
                <class>Ikom_WebsiteSwitcher_Block</class>
            </ikom_websiteswitcher>
        </blocks>
    </global>
</config>
